---
import AboutExperience from "../components/about-experience.astro";
import Button from "../components/button.astro";
import Projects from "../components/home/projects.astro";
import Separator from "../components/home/separator.astro";
import IconButton from "../components/icon-button.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
import experiences from "../collections/experiences.json";
---

<Layout title="Olá, sou o Elias!">
  <div
    class="relative z-20 w-full max-w-4xl mx-auto mt-16 px-7 md:mt-24 lg:mt-32 lg:px-2 xl:px-0"
  >
    <div class="flex flex-col items-center md:flex-row">
      <div class="relative w-full md:w-1/2">
        <h1
          class="mb-5 text-4xl font-bold leading-tight md:text-4xl lg:text-6xl dark:text-white"
        >
          Olá, Elias aqui!
        </h1>
        <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
          Sou um desenvolvedor front-end que mora no Brasil. <br
            class="hidden lg:block"
          />Meu foco é desenvolvimento Web e Mobile. <br
            class="hidden lg:block"
          />
        </p>
        <p class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200">
          Posso ajudar você com:
        </p>
        <ul
          class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400"
        >
          <li>Desenvolvimento React.JS</li>
          <li>Desenvolvimento Mobile</li>
          <li>Website Design</li>
          <li>e mais..</li>
        </ul>
        <div class="flex items-center gap-1">
          <Button
            text="Baixar CV"
            link="/assets/cv/eliasacneto-cv.pdf"
            download="Elias A C Neto - CV"
          />
          <IconButton
            icon="fa-brands fa-linkedin-in fa-lg"
            link="https://linkedin.com/in/eliasacneto"
          />
          <IconButton
            icon="fa-brands fa-github fa-lg"
            link="https://github.com/eliasacneto"
          />
        </div>
      </div>
      <div
        class="relative justify-end hidden w-full mt-10 md:flex md:pl-10 md:w-1/2 md:mt-0 md:translate-y-4 xl:translate-y-0"
      >
        <div class="relative z-50 w-full">
          <div
            class="absolute bottom-0 z-40 w-16 h-16 -translate-x-6 -translate-y-1/2 lg:top-auto top-0 lg:-translate-y-[330px] rounded-full"
          >
            <span
              class="relative z-20 flex items-center justify-center w-full h-full text-2xl border-8 border-white rounded-full dark:border-neutral-950 bg-neutral-100 dark:bg-neutral-900"
            >
              <span
                class="flex items-center justify-center w-full h-full bg-white border border-dashed rounded-full dark:bg-neutral-950 border-neutral-300 dark:border-neutral-700"
                >👨🏻‍💻</span
              >
            </span>
          </div>
          <div class="relative z-30 px-1">
            <img
              src="/assets/images/2.png"
              loading="eager"
              decoding="auto"
              class="relative z-30 mb-1 w-full md:max-w-md mx-auto dark:-translate-y-0.5 rounded-lg"
            />
          </div>
          <div
            class="absolute bottom-0 right-0 z-20 w-full h-full lg:h-[420px] translate-x-0 -translate-y-px border border-dashed rounded-2xl bg-gradient-to-r dark:from-neutral-950 dark:via-black dark:to-neutral-950 from-white via-neutral-50 to-white border-neutral-300 dark:border-neutral-700"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
  <Separator text="Um pouco sobre mim" link="#about" />

  <div class="z-20 max-w-3xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Sobre mim"
      description="Sou formado em Análise e Desenvolvimento de Sistemas e possuo sólida experiência em gerenciamento de projetos, desenvolvimento de interfaces UI/UX intuitivas, e criação de sites e aplicações web. Integro metodologias ágeis com as melhores práticas de programação para entregar soluções eficientes e de alta qualidade."
      description2=" Minha paixão pela programação é complementada pelo meu entusiasmo por usabilidade e inovação. Busco constantemente aprimorar minhas habilidades e estou sempre em sintonia com as tendências mais recentes do mercado. Estou pronto para enfrentar novos desafios e contribuir para o sucesso de projetos de alta relevância. 🚀"
    />

    <div id="my-projects">
      <Separator text="Confira meus projetos" link="#projects" />
    </div>
    <Projects />

    <div id="my-experiences"></div>
    <Separator text="Minhas experiências de trabalho" link="#experiences" />

    <h2
      id="experiences"
      class="mt-1 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Experiências
    </h2>
    <div class="px-5 py-10">
      {
        experiences.map((experience, loop) => {
          return (
            <>
              {loop == 0 || loop == 1 ? (
                <div class="pb-10 border-l border-gray-200 dark:border-neutral-700">
                  <AboutExperience
                    dates={experience.dates}
                    role={experience.role}
                    company={experience.company}
                    description={experience.description}
                    logo={experience.logo}
                  />
                </div>
              ) : (
                <AboutExperience
                  dates={experience.dates}
                  role={experience.role}
                  company={experience.company}
                  description={experience.description}
                  logo={experience.logo}
                />
              )}
            </>
          );
        })
      }
    </div>
  </div>
  <div id="my-contact"></div>

  <Separator text="Entrar em contato" link="#contact" />
  <div id="contact" class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Vamos nos conectar
    </h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      Se você quiser ficar por dentro dos meus trabalho <a
        href="https://linkedin.com/in/eliasacneto"
        target="_blank"
        class="text-sky-600 underline">Conecte-se comigo no Linkedin</a
      >, ou você pode me enviar um <a
        href="mailto:netoeac.dev@gmail.com"
        class="text-sky-600 underline">email</a
      > que entrarei em contato com você em breve.
    </p>
  </div>
  <div class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <a
      href="https://api.whatsapp.com/send?phone=5588997652020&text=Oi%20Elias,%20acessei%20seu%20portfólio%20e%20gostaria%20de%20conversar%20com%20você!"
      target="_blank"
      class="block w-full px-4 py-2 mt-5 text-[14px] text-center duration-300 ease-out border rounded bg-neutral-900 dark:bg-neutral-100 dark:hover:border-neutral-300 dark:text-neutral-800 dark:hover:bg-neutral-950 dark:hover:text-neutral-100 text-neutral-100 border-neutral-900 hover:bg-white hover:text-neutral-900 font-bold"
    >
      <i class="fa-brands fa-whatsapp fa-lg mr-2"></i> Me mande uma mensagem</a
    >
  </div>
</Layout>
